<nav class="navbar navbar-default  navbar-fixed-bottom">
<p class="navbar-text" style="text-align:center">
    Powered by Jeff Ye | &copy;2014  <a href="http://www.autodesk.com" class="navbar-link">Autodesk, Inc.</a>
</p>
</nav>
</body>
</html>