<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%=: title %></title>
<!-- Bootstrap -->
<link href="/static/bootstrap3/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap3/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/libs/jquery-2.0.3.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script data-main="/static/js/requiremain.js" src="/static/js/libs/require.js"></script>
</head>
<body screen_capture_injected="true">
