<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%=: title %></title>
<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
<link href="/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
<script data-main="/javascripts/requiremain.js" src="http://cdn.bootcss.com/require.js/2.1.10/require.js"></script>
</head>
<body screen_capture_injected="true">
<h1><%= title %></h1>