<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li id="nav_home"><a href="/home">Home</a></li>
                <li id="nav_turorials"><a href="/tutorials">Tutorials</a></li>
                <li id="nav_editor"><a href="/editor">Editor</a></li>
                <li id="nav_community"><a href="/community">Community</a></li>
                <li id="nav_contacts"><a href="/contacts">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>